include header
.container
  main.aboutUs
    .titleWrap.aboutUs__titleWrap
      h1.title.aboutUs__title о нас
    .aboutUs__text
      p
        | Предлагаемая в пекарнях продукция готовится исключительно их натуральных продуктов без использования красителей, ароматизаторов, усилителей вкуса !!!
      p
        | Поэтому вкус изделий из нашей Хлебничной — это вкус настоящей домашней выпечки!!!
      p
        | Мы вкладываем душу в нашу работу, используя только лучшие ингредиенты, потому что все, что мы делаем -Мы делаем с любовью!!!!
    .gallery.aboutUs__gallery
      .gallery__item
        img(src='', alt='')
      .gallery__item
        img(src='', alt='')
      .gallery__item
        img(src='', alt='')
      .gallery__item
        img(src='', alt='')
      .gallery__item
        img(src='', alt='')
      .gallery__item
        img(src='', alt='')
      .gallery__item
        img(src='', alt='')
      .gallery__item
        img(src='', alt='')
      .gallery__item
        img(src='', alt='')
include footer