include header
.container
    main.admin__main
        h2 Панель администратора
        ul
            li
                a(href="/admin-order") 
                    button.cart__orderBtn Заказы
            li
                a(href="/admin-products") 
                    button.cart__orderBtn Продукты
            li
                a(href="/admin-cat") 
                    button.cart__orderBtn Категории
include footer