div(class="container")
    footer.footer
        .footer__items.footerItems
          .footerItems__item
            h4.footerItem__title адрес
            .footerItem__text
              p ул. Пролетарская, 59
              p Курган, Россия
          .footerItems__item
            h4.footerItem__title часы работы
            .footerItem__text
              p ПН–ПТ: 08:00–21:00
              p СБ и ВС: 09:00–21:00
          .footerItems__item
            h4.footerItem__title контакты
            .footerItem__text
              p 8-800-234-37-44
              p
                a(href='mailto:info@mysite.ru') info@mysite.ru
          .footerItems__item
            h4.footerItem__title соцсети
            p.footerItem__text
              a(href='https://vk.com/')
                img.icon.footerItem__icon(src='img/icons/vk.svg')
script(src="https://cdn.jsdelivr.net/npm/sweetalert2@9")
script(src="script/effects/shop.js")
script(src="script/nav.js")
script(src="script/cart.js")