html(lang="ru")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Хлебничная
    link(rel="stylesheet" href="/css/style.css") 
body
    div(class="container")
        header
            a(href="index.html" class="logo") Хлебничная
            nav(class="nav")
                ul(class="nav__list")
                    li(class="navList__item")
                        a(href="/" class="navList__link") Главная
                    li(class="navList__item")
                        a(href="/aboutUs" class="navList__link") О нас
                    li(class="navList__item")
                        a(href="/menu" class="navList__link") Меню
                    li(class="navList__item")
                        a(href="/shop" class="navList__link") Онлайн-заказ
                    li(class="navList__item")
                        a(href="/contacts" class="navList__link") Контакты       
    