include header
.container
  main.mainPage
    .mainPage__cell.mainPage__leftCell
      img(src='img/mainPage/dough.webp', alt='тесто')
    .mainPage__cell.mainPage__centreCell1
      img(src='img/mainPage/muffins.webp', alt='маффины')
    .mainPage__cell.mainPage__centreCell2
      img(src='img/mainPage/cookies.webp', alt='печенье')
    .mainPage__cell.mainPage__rightCell
      h2.mainPage__subtitle От всего сердца
      p.mainPage__paragraph
        | Ежедневно наши пекари работают для того, чтобы вы могли насладиться свежей и ароматной выпечкой! Хлеба, пироги, аппетитные слойки и булочки, пирожки, вкусные напитки и добрые улыбки – все это вы встретите в каждой из наших пекарен. Все
        | изделия, представленные в наших пекарнях – это работа целой команды профессионалов, работающих для того, чтобы вам было вкусно! Мы постоянно совершенствуем свой ассортимент!
    .titleWrap.mainPage__titleWrap
      h1.mainPage__title любим печь
include footer