include header
.container
  main.menu
    .titleWrap.menu__titleWrap
      h1.menu__title.title меню
    article.menu__section
      h3.menuSection__title Любимые сладости
      p.menuSection__description Сладости прямиком из вашего детства!
      .menuSection__item
        .menuSectionItem__img
          img(src='img/menu/teaCake.jpg', alt='')
        .row
          .menuSectionItem__name Шоколадный кекс
          .menuSectionItem__dots
            | .................................................................................................................................................................................................................
          .menuSectionItem__price 70 р.
        .menuSectionItem__description Шоколадный кекс очень хорошо подходит к чаю
      .menuSection__item
        .menuSectionItem__img
          img(src='img/menu/teaCake.jpg', alt='')
        .row
          .menuSectionItem__name Шоколадный кекс
          .menuSectionItem__dots
            | .................................................................................................................................................................................................................
          .menuSectionItem__price 70 р.
        .menuSectionItem__description Шоколадный кекс очень хорошо подходит к чаю
    article.menu__section
      h3.menuSection__title Любимые сладости
      p.menuSection__description Сладости прямиком из вашего детства!
      .menuSection__item
        .menuSectionItem__img
          img(src='img/menu/teaCake.jpg', alt='')
        .row
          .menuSectionItem__name Шоколадный кекс
          .menuSectionItem__dots
            | .................................................................................................................................................................................................................
          .menuSectionItem__price 70 р.
        .menuSectionItem__description Шоколадный кекс очень хорошо подходит к чаю
      .menuSection__item
        .menuSectionItem__img
          img(src='img/gallery/cookies.webp', alt='')
        .row
          .menuSectionItem__name Шоколадный кекс
          .menuSectionItem__dots
            | .................................................................................................................................................................................................................
          .menuSectionItem__price 70 р.
        .menuSectionItem__description Шоколадный кекс очень хорошо подходит к чаю

include footer